robotframework>=7.0
robotframework-requests>=0.9.6
robotframework-seleniumlibrary>=6.3.0
robotframework-jsonlibrary>=0.5
robotframework-datadriver>=1.9.0
robotframework-browser>=18.0.0
robotframework-pabot>=2.18.0
requests>=2.31.0
PyYAML>=6.0
lxml>=4.9.0
